[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
  name = sudoguy
  email = eskemerov@gmail.com
	signingkey = 744AB96CCED86075
[push]
  default = simple
[commit]
	gpgSign = 0
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[github]
  user = sudoguy
