[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
  name = sudoguy
  email = eskemerov@gmail.com
  signingkey = C1C23EF4B041E218
[push]
  default = simple
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[github]
  user = sudoguy
